/* Resetting default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

body {
    background-color: #1a1a1a;
    color: #fff;
    line-height: 1.6;
}

header {
    background: #000;
    color: #fff;
    padding: 1em 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e74c3c;
}

.hero {
    padding: 200px 20px;
    text-align: center;
    background: url("1.jpg");
    background-size: cover;
    background-position:0%;
    background-attachment: fixed;
    margin-top: 60px;
}

.hero h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    background: #e74c3c;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
}

.btn:hover {
    background: #c0392b;
}

.services, .about, .contact {
    padding: 100px 20px 50px;
    text-align: center;
}

.services h2, .about h2, .contact h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #3498db;
}

.service-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.service {
    background: #2d2d2d;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
    flex: 1;
    min-width: 250px;
    max-width: 300px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.service .icon {
    font-size: 2em;
    margin-bottom: 10px;
}

.service h3 {
    color: #3498db;
    margin-bottom: 10px;
}

.service p {
    color: #bbb;
}

.service:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.about p {
    margin-bottom: 20px;
    color: #bbb;
    line-height: 1.8;
}

footer {
    background: #000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

footer .contact, footer .social-media {
    margin-bottom: 10px;
}

footer .social-media a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

footer .social-media a:hover {
    color: #e74c3c;
}

footer p {
    margin-top: 10px;
}